.container {
  padding: 0 1rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.flex{
  display: flex;
}
.flex-between{
  justify-content: space-between;
}
.page-text-flex{
  padding: 3rem 0 0.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.page-text-content{
  flex-grow: 1;
}
.title{
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem;
}
.title::first-letter{
  color: var(--darkBlue);
  font-size: 2.5rem;
}
.btn{
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--grey);
  font-size: 0.875rem;
  line-height: 1.4;
  position: relative;
  /* border-radius: 2px; */
  cursor: pointer;
  background-color: #fff;
}
.btn::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  right:-1px;
  bottom: 0;
  z-index: 1;
  background-color: var(--blue);
  height: 0;
  transition: all .1s linear;
}
.btn:hover::before{
  height: 2px;
  transition: all .1s linear;
}
.btn:hover {
  border-top-color: var(--blue);
}
.btn-sm {
  padding: 0.4rem 0.4rem;
  font-size: 0.8rem;
}
.btn > span{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn svg{
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--blue)
}
.btn span+svg,
.btn svg + span {
  margin-left: 10px;
}
.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.home-center {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.artwork img {
  /* border-radius: 35%; */
  width: 280px;
}

.home-title {
  display: grid;
}

@media only screen and (min-width: 50em) {
  .home-container {
    width: 1000px;
  }
}

@media only screen and (max-width: 50em) {
  .home-container {
    width: 600px;
  }
}

.centered {
  display: grid;
  place-items: center;
}

.home-entries {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* .home-entries[data-flex-wrap] {
  flex-wrap: wrap;
}

.home-entries[data-space] {
  justify-content: space-between;
}

.home-entries[data-align-center] {
  align-items: center;
} */

/* Presentation styles */
.home-entries>* {
  max-width: 333px;
  flex: 270px;
  margin-bottom: 33px;
}
.btn-back-home{
  position: fixed;
  left: 0;
  bottom: 0;

}
.btn-change-speed{
  position: fixed;
  top: 30%;
  right: 0;
  height: 37px;
  padding-bottom: 0rem;
  padding-top: 0rem;
  padding-left: 0;
  transition: all .1s linear;
}
.btn.btn-change-speed svg{
  margin-left: 0.5rem;
}
.btn-change-speed--container{
  height: 37px;
  overflow: hidden;
}
.btn-change-speed--container li:first-child{
  /* border-top-left-radius: 2px; */
}
.btn-change-speed--container li:last-child {
  /* border-bottom-left-radius: 2px; */
}
.btn-change-speed--container li{
  text-align: center;
  justify-content: center;
  height: 36px;
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  border: 1px solid transparent;
}
.btn-change-speed.opened .btn-change-speed--container li:hover{
  background-color: var(--greyLight);
}
.btn-change-speed.opened {
  border-left-color: transparent;
}
.btn-change-speed.opened::before {
  height: 0;
}
.btn-change-speed.opened.btn {
  border-top-color: var(--grey);
}
.btn-change-speed.opened li {
  border: 1px solid var(--grey);
}
.btn-change-speed ul {
  transition: all .1s linear;
}
.btn-change-speed.opened ul {
  /* border: 1px solid var(--grey); */
  background-color: #fff;
  transition: all .1s linear;
}
.btn-change-speed .btn-change-speed--container li + li {
  border-top: none;
}
.btn-change-speed.opened .btn-change-speed--container{
  overflow: visible;
}