.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.home-center {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.artwork img {
  /* border-radius: 35%; */
  width: 280px;
}

.home-title {
  display: grid;
}

body {
  font-family: 'Roboto';
}

@media only screen and (min-width: 50em) {
  .home-container {
    width: 1000px;
  }
}

@media only screen and (max-width: 50em) {
  .home-container {
    width: 600px;
  }
}

.centered {
  display: grid;
  place-items: center;
}

.home-entries {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* .home-entries[data-flex-wrap] {
  flex-wrap: wrap;
}

.home-entries[data-space] {
  justify-content: space-between;
}

.home-entries[data-align-center] {
  align-items: center;
} */

/* Presentation styles */
.home-entries>* {
  max-width: 333px;
  flex: 270px;
  margin-bottom: 33px;
}

.sub {
  font-size: 1em;
  padding-left: 3px;
  padding-right: 4px px;
  margin-left: 2px;
  margin-right: 2px;
}

.sub.start {
  background-color: rgb(1, 244, 207);
}

.sub.end {
  background-color: coral;
}

.sub.unassigned {
  background-color: rgb(188, 183, 181);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
  width: 5ch;
  minlength: 1;
  maxlength: 5;
}