@import "../mixins";

.page {
  @include pageTextFlex;
}

.content {
  flex-grow: 1;
}
.title {
  @include title;
  text-align: center;
  width: 100%;
}
.container {
  @include container;
  max-width: 1040px;
}

.list {
  margin-bottom: -2rem;
  .row {
    display: flex;
    justify-content: flex-end;
    margin: 0 -0.5rem;
    &:last-child {
      .item:last-child::before {
        display: none;
      }
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      .item:last-child::before {
        background-image: url("../../css/arrow2.png");
        background-position: top right;
      }
      .item:not(:first-child) {
        &::after {
          content: "";
          right: auto;
          left: 90%;
          transform: scaleX(-1);
        }
      }
    }

    .item {
      width: calc(100% / 3);
      padding: 40px 0.5rem 0;
      margin-bottom: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: relative;
      z-index: 2;
      &:not(:first-child) {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          height: 50px;
          width: 50px;
          right: 95%;
          background-image: url("../../css/arrow3.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
      &:last-child {
        &:first-child {
          margin-left: auto;
          margin-right: auto;
        }
        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          height: 100%;
          background-image: url("../../css/arrow.png");
          background-repeat: no-repeat;
          background-position: top left;
          background-size: contain;
        }
      }
      .linkContent {
        position: relative;
        z-index: 2;
      }
      .image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--grey);
        transition: all 0.2s ease-in-out;
        img {
          max-width: 50%;
          max-height: 50%;
        }
      }
      .svgShape {
        width: 280px;
        height: 280px;
        position: absolute;
        top: -40px;
        left: calc(50% - 140px);
        transition: all 0.2s ease-in-out;
      }
      .link {
        &:hover {
          .image {
            border-color: var(--blue);
            transition: all 0.2s ease-in-out;
            box-shadow: inset 0 0 21px #0077c63d;
          }
          .svgShape {
            transform: rotate(10deg);
            fill: var(--blue);
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
  }
}
