@import "../mixins";

.page {
  @include pageTextFlex;
}

.content {
  //flex-grow: 1;
}

.container {
  @include container;
}

.nums {
  display: flex;
  justify-content: space-between;
}

.slider {
  display: flex;
}

.controlTopPanel {
  display: flex;
  flex-direction: row;

  div:last-child {
    margin-left: auto;
  }
}